/*

position
parent for slide grid

*/

.parent {
    display: grid;
    grid-template-columns: auto 2fr;
    font-family: arial, serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
}


* {
    box-sizing: border-box;
}

.parent .slide {
    display: inline-block;
    order: -1;
    border-right: 5px dotted red;
    width: 100%;
    text-align: center;
}

.parent .slide img {
    width: 400px;
    margin: 20px auto;
}

h2 {
    text-align: center;
}

/*----------------------------------*/

/*********************  one  ************************/
.one div {
    font-family: serif;
    width: 300px; /*true*/
    height: 200px; /*true*/
    margin: 10px auto; /*true*/
    background: #eee; /*true*/
    color: #03a9f4; /*true*/
    display: flex; /*true*/
    justify-content: center; /*true*/
    align-items: center; /*true*/
    font-weight: bold; /*true*/
    font-size: 2em; /*true*/
    position: relative;
}

.one div:before{
    content: '';
    background: #03a9f4;
    width: 300px;
    height: 200px;
    transform: rotate(-5deg) scale(1.03 , 1.03);
    z-index: -1;
    position: absolute;

}
.one div:after{
    content: '';
    background: #e91e63;
    width: 300px;
    height: 200px;
    transform: rotate(5deg) scale(1.03 , 1.03);
    z-index: -2;
    position: absolute;

}
/*********************  one  ************************/

:root{
    --width-height: 200px; /*true*/
    --border-width: 8px;
}

.two{
    border: 1px solid;
}

.two div{
    width: var(--width-height); /*true*/
    height: var(--width-height); /*true*/
    background: #eee; /*true*/

    position: relative; /*true*/
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
        /*4 row above == margin : 20px auto */

    display: flex; /*true*/
    justify-content: center;  /*true*/
    align-items: center;  /*true*/

    border-radius: 50%;  /*true*/
    font-weight: bold;  /*true*/
    font-family: Serif, Arial, cursive;  /*true*/
    font-size: 1.4em; /*true*/
}
.two div:before{
    content: '';
    width: var(--width-height);
    height: var(--width-height);
    position: absolute;
    border-radius: 50%;
    border: var(--border-width) solid #e91e63 ;
    border-left-color: transparent;
    transition: transform 0.5s ease-in-out;
}
.two div:after{
    content: '';
    width: calc(var(--width-height) +  var(--border-width) * 2 );
    height:  calc(var(--width-height) +  var(--border-width) * 2 );
    position: absolute;
    border-radius: 50%;
    border: var(--border-width) solid #03a9f4 ;
    border-right-color: transparent;
    transition: transform 0.5s 0.5s ease-in-out;
}

.two div:hover:before , .two div:hover:after{
    transform: rotate(360deg);
}
