.parent{
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
}

.parent .assignment{
    border-right: 4px dashed red;
    order: -1;
}

.parent .assignment img{
    width: 100%;
}

body>h1{
    text-align: center;
}

/*------------------     one  -- -*/

.one .dad{
    background: #f2f2f4; /*true*/
    padding: 20px; /*true*/
    text-align: center; /*true*/
    height: 200px; /*true*/
    margin: 50px auto; /*true*/
    width: 400px; /*true*/
    font-size: 1.5em;
    transition: all 0.5s ease-in-out;
}
.one .child{
    background: #dededc; /*true*/
    padding: 20px; /*true*/
    margin-top: 10px;
    transition: all 1s 0.5s ease-in-out;
}

.one .dad:hover{
    margin-top: 0px;
}

.one .dad:hover .child{
    margin-top: 40px;
}


/*****************   two   ******************/

.two > div{
    background-color: #eeeeee !important;
    color: rgba(0 , 0 , 0 , 0) !important;
    border: 1px solid #eeeeee !important;
    font-size: 20px !important;
    width: 400px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.two >div:after{
    content: 'Elzero';
    position: absolute;
    left: 0;
    width: 100%;
    color: black;
}